<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfoliostyle.css') }}">
    <title>Katherine Okpara</title>
</head>
<body>
      <div>
          <h2>Katherine Okpara, Senior UX Researcher</h2>
          <p><small>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                  <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" fill="#cb0011" fill-rule="evenodd"></path>
              </svg>
              San Francisco, California
          </small></p>

          <div class="content">
              <p>I am a user experience researcher with a passion for storytelling, language, and investigating the mechanisms of the brain.</p>
              <p>My fascination with behavior started at an early age and has deeply shaped my view of the world. My work with young children, industry professionals, and the elderly has empowered me to find common ground with people from many different walks of life.</p>
              <p>​I graduated from UC Berkeley in 2016, with a Bachelor's degree in Psychology. Though my education focused on how cognitive and neurological factors influence behavior, I soon realized the roles that research, psychology, and design play in successfully developing and marketing products that can change lives.</p>
              <p>Throughout my UX research career, I have worked with on a variety of B2B and B2C products that focused on solving complex issues that simplify the lives of customers.</p>
              <p>In my free time, you can find me baking, writing poetry, studying languages, and learning more about user centered design!</p>
          </div>

          <header>
            <h4>Click the links below to learn more about my research experience!</h5>
            <a href ="Research Process.html"><button>Research Process</button></a>
            <a href ="Case Studies.html"><button>Case Studies</button></a>
          </header>
          <br></br>
              <div class="social-icon">
                 <a href="https://www.linkedin.com/in/katherine-okpara">
                     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                         <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" fill="currentColor" fill-rule="evenodd"></path>
                     </svg>
                 </a>
             </div>

              <div class="social-icon">
                  <a href="https://twitter.com/katokpara">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                          <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" fill="currentColor" fill-rule="evenodd"></path>
                      </svg>
                  </a>
              </div>

              <div class="social-icon">
                 <a href="https://gitlab.com/kokpara/kat_data-analytics">
                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                       <path d="m14.329 6.922-.02-.053-1.239-3.232-.668 2.044-.337 1.035H3.936L3.598 5.68l-.667-2.043-1.24 3.237-.005.01-.004.01-.018.045a2.543 2.543 0 0 0 .848 2.93l.005.004.01.008.01.008.009.006 3.302 2.474.004.004 1.644 1.242.5.379.501-.379 1.644-1.242.006-.004 3.325-2.489.007-.005.009-.007a2.543 2.543 0 0 0 .844-2.939l-.003-.008Zm.053 4.152-3.337 2.497-1.643 1.242-.999.755a.675.675 0 0 1-.813 0l-.999-.755-1.643-1.242-3.313-2.483-.018-.014-.008-.006A4.043 4.043 0 0 1 .267 6.395l.023-.057 1.9-4.963.013-.033.081-.212.023-.06.158-.413A.565.565 0 0 1 2.941.3a.576.576 0 0 1 .613.415l.134.41.005.017.078.239.011.033 1.242 3.802h5.953l1.241-3.802.011-.033.078-.24.006-.016.133-.41a.575.575 0 0 1 1.088-.058l.157.409.025.064.08.211.013.033 1.903 4.963.022.058a4.043 4.043 0 0 1-1.343 4.671l-.01.008Z" fill="currentColor" fill-rule="evenodd"/>
                  </svg>
                 </a>
             </div>
         </div>
</body>
</html>
