<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfoliostyle.css') }}">
		<a href ="/templates/home.html"><button>Back to Home</button></a>
		<a href ="/templates/researchprocess.html"><button>Research Process</button></a>
		<h1 class="entry-title">Research Case Studies</h1>
</head>

<div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
<p>I have experience with a variety of qualitative and quantitative research methods and I take pride in being attentive, efficient, and reliable. Some of my most common research methods include user interviews, moderated usability testing, surveys, card sorting, and affinity mapping of existing feedback.</p>

<br></br>
<h3>Rippling, Senior Researcher<strong> </strong>(June 2021 – January 2023)</h3>
I planned and conducted generative and evaluative research for the HRIS and Platform business verticals. My research generated insights and recommendations that shaped the launch of Pulse, Dashboards, Rippling ATS, the redesign of Rippling's mobile app, and more.

<br></br>
<hr class="wp-block-separator">

<h3>GitLab, UX Researcher<strong> </strong>(Dec 2017 – May 2021)</h3>

<p class="margin-bottom-none">In this role, I was concerned not only with running my own projects but also working as a team with stakeholders, understanding the various aspects of product development, creating actionable insights, and sharing the value of research broadly. GitLab’s is an all-remote company that focuses on remote UX Research methods and documenting insights within the product. I’ve included select studies below. You can find all the research I’ve conducted at GitLab <em><a href="https://gitlab.com/groups/gitlab-org/-/epics?scope=all&amp;utf8=%E2%9C%93&amp;state=all&amp;label_name[]=uxr_insights&amp;author_username=katokpara">here</a></em>.</p>



<p><strong><span style="text-decoration:underline;">Navigation usability and benchmarking studies, 2018-2019</span></strong> <a href="/templates/gitlabnav.html">(Read full summary)</a></p>



<p>The outcome of iterative research conducted on GitLab’s navigation structure over the years was an understanding of the core pain points and usability issues users face when navigating throughout GitLab. The main themes of my research initiatives were&nbsp;context&nbsp;and&nbsp;discoverability. Research methods included usability benchmarking, card sorting, tree testing, and stakeholder interviews.</p>



<ul><li><strong>Context</strong>:&nbsp;How can we help users maintain context and stay oriented while switching between levels of navigation and features in different product stages?</li><li>Discoverability<strong>:</strong>&nbsp;How can navigation be a method of promotion and discovery for new features while still preserving the findability of commonly used features?</li></ul>



<p class="margin-bottom-none"><a href="https://about.gitlab.com/blog/2019/07/31/navigation-state-of-play/"><strong>History of GitLab’s navigation (blog post)</strong><br></a><a href="https://gitlab.com/groups/gitlab-org/-/epics?scope=all&amp;utf8=%E2%9C%93&amp;state=all&amp;label_name[]=uxr_insights&amp;label_name[]=navigation&amp;author_username=katokpara">View list of studies</a></p>



<p class="margin-bottom-none"><strong><span style="text-decoration:underline;">User Interviews, April 2019</span></strong></p>



<p>Code review as a process is more than leaving simple feedback. The goal of this research was to develop a more detailed vision for code review, prioritize challenges, and map the tasks involved in best practice code review.</p>



<p><a href="https://gitlab.com/groups/gitlab-org/-/epics/1259">View study findings</a></p>



<p></p>



<p class="margin-bottom-none"><strong><span style="text-decoration:underline;">Survey, June 2018<br></span></strong>The goal of this study was to determine if GitLab needed to improve our permissions system with non-hierarchical roles (e.g. <code>+Code</code>, <code>+Manage People</code>, <code>+Deploy</code>) and identify the types of organizations that would need these roles. This research helped us decide if we should consider these improvements for the free or paid version of our product.</p>



<p><a href="https://drive.google.com/file/d/1--WCxH4oJCQ-We0JuxdfTqQ-WchDHOqw/view?usp=sharing">View full survey report</a></p>



<p class="margin-bottom-none"><strong><span style="text-decoration:underline;">Moderated Usability Testing, November 2019  <br></span></strong>While <a href="https://gitlab.com/gitlab-org/gitlab-design/issues/441">assessing the flow</a> for creating a Merge Request, a team of designers noticed some confusing aspects associated with the Merge Request approval rules feature. The goal of this study was to see the rules in action, understand how users conceptualize the feature, and identify opportunities for improvement.</p>



<p><a href="https://gitlab.com/groups/gitlab-org/-/epics/2333">View study findings</a></p>

<br></br>
<hr class="wp-block-separator">

<h3>Help-Full, Inc., UX Analyst (Oct 2016 – Dec 2017)</h3>



<p class="margin-bottom-none">When I started working with Help-Full, the team had already undertaken an initial phase of design ideation and development but hadn’t fully defined their business model, requirements, and goals. I was added to the team with the purpose of designing the user experience of Help-Full’s minimum viable product (MVP).</p>



<div class="wp-block-file"><a href="https://katherineokparacom.files.wordpress.com/2020/03/katherine-okpara-ux-analyst-help-full-1.pdf">Help-Full UX work</a><a href="https://katherineokparacom.files.wordpress.com/2020/03/katherine-okpara-ux-analyst-help-full-1.pdf" class="wp-block-file__button" download="">View PDF</a></div>
</div>
</div>
</div></div>
</html>
