<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portfoliostyle.css') }}">
    <a href ="/templates/home.html"><button>Back to Home</button></a>
    <a href ="/templates/casestudies.html"><button>Case Studies</button></a>
		<h1 class="entry-title">My Research Process</h1>
</head>

<div>
<h4>I believe there is great value in deeply understanding what you <em>do</em> know, before searching for answers to what you don't know. </h5>
<h4>Each research project I conduct is shaped by a set of goals and objectives. Whether we're gathering data on how common a problem is, testing the usability of a proposed solution, or exploring a workflow, the first step is to figure out what we need to learn from the research.</h5>
</div>

<h3>DEFINE</h3>
<li>What do we already know?</li>
<li>What do we want to know?</li>
<li><em>Why</em> do we want to learn this information?</li>
<li>What hypotheses do we have about the topic?</li>
<li>Who do we need to learn from?</li>


<h3>CONDUCT</h3>
<li>What methodology would help us answer our research questions?</li>
<li>What timeline do we have for the research?</li>
<li>How can we recruit participants?</li>

<h3>ANALYZE AND SYNTHESIZE</h3>
<li>How are users handling the topic today?</li>
<li>What is successful about the process?</li>
<li>What challenges do they encounter?</li>
<li>How does the data we gathered compare across users?</li>

<h3>SHARE</h3>
<li>Did we answer our research questions?</li>
<li>What steps we can take to action the findings?</li>
<li>What other insights did we take away from the research?</li>

<br></br>
<hr class="wp-block-separator">

<p><em>Research doesn't matter without a solid strategy practice to connect what you learn to how you create value.</em></p>
<cite>Erica Hall</cite>
<p></p>
</html>
